<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lovehao.dao.TablesDao">

    <select id="selectAllTabelsName" resultType="java.lang.String">
        select table_name from information_schema.tables where table_schema='test'
    </select>

</mapper>